<style>

</style>
 

<div class="p-5">
<p class="display-5">Welcome to my air quality checker! All data is from Airnow.gov. Type in your zipcode to check how the air is in your area. </p>
</div>

<div class="<%= @api_color %> p-5 rounded-lg m-3 ">
<h1 class="display-4"><%= @final_output%></h1>
<p class="lead">This is current air quality according to the submitted zipocode</p>
<hr class="my-4">
 <h1 class="display-4"><%= @api_meaning%> <p class="lead"> </p></h1>

</div>

<br/>


